.button {
  @include button;
  margin-right: 20px;
  margin-left: 20px;
}

.button--hotel-booking {
  margin-bottom: 50px;
}

.button--user-review {
  margin-bottom: 74px;
  text-transform: uppercase;
}

.button--popup {
  margin-bottom: 35px;
  text-transform: uppercase;
}

.button--popup-failure {
  width: 180px;
}
