.container {
  margin: 0 auto;
  width: 280px;

  &--page-body {
    margin: 0;
    width: 100%;
  }

  &--header {
    width: 100%;
  }

  &--header-inner {
    position: relative;
    min-height: 160px;
    background-image: url("../img/bg-intro-triangle-mobile.svg"),
                      url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 100%, -225px 100%;
    background-size: 100%, auto;
  }

  &--footer {
    padding-bottom: 25px;
  }

  &--user-review {
    width: 100%;
  }

  &--photos {
    width: 100%;
  }
}

@media (min-width: $tablet-width) {
  .container {
    width: 648px;

    &--page-body {
      width: 100%;
    }

    &--header {
      width: 100%;
    }

    &--header-inner {
      background: none;
    }

    &--features {
      margin: 0 auto;
      padding-top: 47px;
      padding-right: 35px;
      padding-left: 35px;
      width: 186px;
    }

    &--footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

    &--user-review {
      display: flex;
      flex-wrap: wrap;
    }

    &--fieldset {
      width: 324px;
    }

    &--user-sights {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &--photos {
      width: 648px;
    }

    &--photo-item {
      width: 324px;
    }
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1200px;

    &--page-body {
      margin: 0 auto;
      background-color: $white;
      box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
    }

    &--header {
      width: 100%;
    }

    &--features {
      padding: 50px 80px;
      width: 240px;
      }

    &--user-review {
      margin: 0 auto;
      width: 960px;
    }

    &--fieldset {
      width: 480px;
    }

    &--form {
      width: 960px;
    }

    &--user-contacts {
      display: flex;
      flex-wrap: wrap;
      width: 960px;
    }

    &--user-sights {
      width: 960px;
    }

    &--photos {
      width: 1200px;
    }

    &--photo-item {
      width: 400px;
    }
  }
}
