.details-list {
  padding: 0;
  padding-top: 38px;
  list-style: none;
  background-color: $white;
}

.details-list__item {
  position: relative;
  width: 230px;
  margin-bottom: 30px;
  padding-left: 70px;
  color: #000000;
  text-align: left;
}

.details-list__icon {
  position: absolute;
  top: -15px;
  left: 20px;
  width: 39px;
  height: 37px;
  fill: $blue;
}

.details-list__heading {
  @include heading-font;
  margin-bottom: 18px;
}

.details-list__description {
  @include paragraph-font;
}

@media (min-width: $tablet-width) {
  .details-list {
    display: flex;
    padding: 0;
  }

  .details-list__item {
    padding: 160px 35px 0;
    width: 186px;
    text-align: center;

    &:nth-child(2) {
      order: 2;
    }
  }

  .details-list__icon {
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
    width: 64px;
    height: 75px;
  }
}

@media (min-width: $desktop-width) {
  .details-list {
    width: 1200px;
  }

  .details-list__item {
    padding-right: 55px;
    padding-left: 55px;
    width: 290px;
  }

  .details-list__heading {
    width: 310px;
  }

  .details-list__description {
    width: 310px;
  }
}
