.features {
  @include zero-indent;
}

.features__slogan {
  @include zero-indent;
  @include heading-font;
  margin-top: 43px;
  margin-bottom: 30px;
  width: $main-width;
  color: #000000;
  text-align: $center;
}

.features__intro {
  @include zero-indent;
  @include paragraph-font;
  margin-bottom: 43px;
  width: $main-width;
  text-align: $center;
}

.features__list {
  @include zero-indent;
  @include list;
}

.features__item {
  @include zero-indent;
  text-align: $center;

  &--blueback {
    padding-top: 43px;
    color: $white;
    background-color: $blue;
  }

  &--greyback {
    padding-top: 30px;
    background-color: $grey;
  }
}

.features__heading {
  @include zero-indent;
  @include main-padding;
  @include heading-font;
  margin-bottom: 14px;
  width: $main-width;
}

.features__number {
  @include zero-indent;
  @include paragraph-font;
  margin-bottom: 16px;
}

.features__description {
  @include zero-indent;
  @include main-padding;
  @include paragraph-font;
  width: $main-width;

  &--white {
    padding-bottom: 40px;
  }

  &--black {
    padding-bottom: 28px;
  }
}

.features__details {
  @include zero-indent;
}

.features__picture {
  width: 320px;
  height: 260px;
}

@media (min-width: 768px) {
  .features__slogan {
    @include tablet-padding;
    width: 648px;
  }

  .features__intro {
    @include tablet-padding;
    width: 648px;
  }

  .features__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: $tablet-width;
  }

  .features__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .features__content-wrapper {
    @include zero-indent;
    padding-top: 40px;
    padding-right: 45px;
    padding-bottom: 40px;
    padding-left: 45px;
    width: 166px;
  }

  .features__heading {
    padding: 0;
    width: 166px;
  }

  .features__description {
    padding: 0;
    width: 166px;
  }

  .features__picture-block {
    width: 512px;
  }
}

@media (min-width: 1280px) {
  .features__slogan {
    @include tablet-padding;
    width: 1200px;
  }

  .features__intro {
    @include tablet-padding;
    width: 1200px;
  }

  .features__list {
    padding: 0 40px;
    width: 1200px;
  }

  .features__content-wrapper {
    padding: 50px 80px;
    width: 240px;
  }

  .features__heading {
    width: 240px;
  }

  .features__description {
    width: 240px;
  }

  .features__picture-block {
    width: 800px;
  }
}
