.features {
  padding-top: 40px;
  width: $mobile-width;
}

.features__slogan {
  @include heading-font;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 280px;
  text-align: center;
}

.features__intro {
  @include paragraph-font;
  margin: 0 auto;
  margin-bottom: 43px;
  width: 280px;
  text-align: center;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  margin: 0 auto;
  width: 320px;

  &--blueback {
    padding-top: 43px;
    color: $white;
    background-color: $blue;
  }

  &--greyback {
    padding-top: 30px;
    background-color: $grey;
  }
}

.features__content-wrapper {
  margin: 0 auto;
  width: 280px;
}

.features__item--blueback .features__content-wrapper {
  padding-bottom: 30px;
}

.features__item--greyback .features__content-wrapper {
  padding-bottom: 40px;
}

.features__heading {
  @include heading-font;
  margin: 0;
  margin-bottom: 14px;
  width: 280px;
  text-align: center;
}

.features__number {
  @include paragraph-font;
  margin: 0;
  margin-bottom: 16px;
  text-align: center;
}

.features__description {
  @include paragraph-font;
  margin: 0;
  width: 280px;
  text-align: center;
}

.features__details {
  margin: 0;
  padding: 0;
}

.features__picture-block {
  margin: 0;
}

.features__picture {
  width: 320px;
  height: 260px;
}

.features__details {
  margin-left: 0;
}

@media (min-width: $tablet-width) {
  .features {
    padding-top: 50px;
    width: $tablet-width;
  }

  .features__slogan {
    width: 648px;
  }

  .features__intro {
    width: 648px;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
    width: $tablet-width;
  }

  .features__item {
    display: flex;
    flex-wrap: wrap;
    width: auto;
  }

  .features__content-wrapper {
    padding-top: 40px;
    padding-right: 45px;
    padding-bottom: 40px;
    padding-left: 45px;
    width: 166px;
  }

  .features__heading {
    width: 166px;
  }

  .features__description {
    width: 166px;
  }

  .features__picture-block {
    width: 512px;
  }
}

@media (min-width: 1280px) {
  .features__slogan {
    width: 1200px;
  }

  .features__intro {
    width: 1200px;
  }

  .features__list {
    padding: 0 40px;
    width: 1200px;
  }

  .features__content-wrapper {
    padding: 50px 80px;
    width: 240px;
  }

  .features__heading {
    width: 240px;
  }

  .features__description {
    width: 240px;
  }

  .features__picture-block {
    width: 800px;
  }
}
