.hotel-booking {
  @include zero-indent;
  padding-top: 32px;
  text-align: $center;
}

.hotel-booking__teaser {
  @include zero-indent;
  @include main-padding;
  margin-bottom: 25px;
  width: $main-width;
  font-weight: $bold;
  font-size: 20px;
  line-height: 26px;
}

.hotel-booking__intro {
  @include zero-indent;
  @include main-padding;
  @include paragraph-font;
  margin-bottom: 35px;
  width: $main-width;
}

.hotel-booking__map {
  margin-bottom: 40px;
  width: 320px;
  height: 350px;
}
