.hotel-booking {
  padding-top: 30px;
}

.hotel-booking__teaser {
  margin: 0;
  margin-bottom: 23px;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

.hotel-booking__intro {
  @include paragraph-font;
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
}

.hotel-booking__map {
  margin-top: 50px;
  margin-bottom: 30px;
  border: none;
  width: 100%;
  height: 350px;
}

@media (min-width: $tablet-width) {
  .hotel-booking {
    padding-top: 56px;
  }

  .hotel-booking__teaser {
    margin-bottom: 31px;
    font-size: 30px;
  }

  .hotel-booking__intro {
    margin-bottom: 45px;
  }

  .hotel-booking__map {
    margin-top: 57px;
    margin-bottom: 32px;
    height: 350px;
  }
}

@media (min-width: $desktop-width) {
  .hotel-booking__map {
    margin-bottom: 40px;
    width: 1200px;
    height: 350px;
  }
}
