@media (max-width: $mobile-width-only) {
  .main-header__logo {
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 5;
      width: 103px;
      height: 86px;
      transform: translateX(-50%);
    }

  .main-header {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $blue;
    background-repeat: no-repeat;
    min-height: 445px;
    background-image: url("../img/bg-intro-triangle-mobile.svg"),
                      url("../img/text-sedona-index.svg"),
                      url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 100%, 50% 130px, -224px 55px;
    background-size: 100%, 282px 214px, auto;

    &--menu-opened {
      min-height: 668px;
      background-image: url("../img/bg-intro-triangle-mobile.svg"),
                        url("../img/text-sedona-index.svg"),
                        url("../img/bg-back-mobile@1x.jpg");
      background-position: 0 100%, 50% 373px, -224px 278px;
      background-size: 100%, 282px 214px, auto;
    }

    &--menu-opened .main-header__logo {
      position: absolute;
      top: 223px;
      left: 50%;
      z-index: 5;
      width: 103px;
      height: 86px;
      transform: translateX(-50%);
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-triangle-mobile.svg"),
                        url("../img/text-sedona-index.svg"),
                        url("../img/bg-back-mobile@2x.jpg");
      background-size: 100%, 282px 214px, 768px auto;
    }

    &--inner {
      min-height: 214px;
      background-image: url("../img/bg-intro-triangle-mobile.svg"),
                        url("../img/text-sedona.svg"),
                        url("../img/bg-back-mobile@1x.jpg");
      background-position: 0 100%, 50% 109px, -225px 100%;
      background-size: 100%, 229px 39px, auto;
    }

    &--inner .main-header__logo {
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 5;
      width: 103px;
      height: 86px;
      transform: translateX(-50%);
    }

    &--inner-opened {
        min-height: 437px;
        background-image: url("../img/bg-intro-triangle-mobile.svg"),
                          url("../img/text-sedona.svg"),
                          url("../img/bg-back-mobile@1x.jpg");
        background-position: 0 100%, 50% 332px, -225px 100%;
        background-size: 100%, 229px 39px, auto;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-triangle-mobile.svg"),
                        url("../img/text-sedona.svg"),
                        url("../img/bg-back-mobile@2x.jpg");
      background-size: 100%, 229px 39px, 768px auto;
    }
  }
}

@media (min-width: $tablet-width) {
  .main-header {
    min-height: 575px;
    background-image: url("../img/bg-intro-triangle-tablet.svg"),
                      url("../img/text-sedona-index.svg"),
                      url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 100%, 50% 133px, 0 100%;
    background-size: 100%, 460px 350px, auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-intro-triangle-tablet.svg"),
                      url("../img/text-sedona-index.svg"),
                      url("../img/bg-back-tablet@2x.jpg");
    background-size: 100%, 460px 350px, auto;
  }

    &--inner {
      min-height: 347px;
      background-image: url("../img/bg-intro-triangle-tablet.svg"),
                        url("../img/text-sedona.svg"),
                        url("../img/bg-back-tablet@1x.jpg");
      background-repeat: no-repeat;
      background-position: 0 100%, 50% 149px, 0 100%;
      background-size: 100%, 461px 79px, cover;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-triangle-tablet.svg"),
                        url("../img/text-sedona.svg"),
                        url("../img/bg-back-tablet@2x.jpg");
      background-size: 100%, 461px 79px, cover;
    }
  }

  .main-header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 5;
    transform: translateX(-50%);
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    background-image: url("../img/bg-intro-triangle-desktop.svg"),
                      url("../img/text-sedona-index.svg"),
                      url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 100%, 50% 133px, 0 100%;
    background-size: 100%, 460px 350px, cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-triangle-desktop.svg"),
                        url("../img/text-sedona-index.svg"),
                        url("../img/bg-back-desktop@2x.jpg");
      background-size: 100%, 460px 350px, cover;
    }

    &--inner {
      min-height: 355px;
      background-image: url("../img/bg-intro-triangle-desktop.svg"),
                        url("../img/text-sedona.svg"),
                        url("../img/bg-back-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-position: 0 100%, 50% 160px, 0 100%;
      background-size: 100%, 460px 79px, cover;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-triangle-desktop.svg"),
                        url("../img/text-sedona.svg"),
                        url("../img/bg-back-desktop@2x.jpg");
      background-size: 100%, 460px 79px, cover;
    }
  }

  .main-header__logo {
    width: 188px;
    height: 96px;
  }
}
