.main-footer {
  padding-bottom: 25px;
}

.main-footer__hashtag {
  width: $main-width;
  font-weight: $bold;
  font-size: 20px;
  line-height: 26px;
  text-align: $center;
}

.main-footer__socials {
  @include zero-indent;
  margin-bottom: 40px;
}

.main-footer__copyright {
  @include zero-indent;
  @include paragraph-font;
  margin-right: 10px;
  width: 95px;
}

.main-footer__copyright-link {
  @include icon-link;
}
