.main-header {
  margin: 0 auto;
  width: $mobile-width;
  min-height: 440px;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat 0 60px;
}

.main-header__logo {
  margin-left: 110px;
  margin-right: 65px;

  &--mobile {
    display: block;
  }

  &--tablet,
  &--desktop {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-header {
    position: relative;
    width: $tablet-width;
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat 0 60px;
  }

  .main-header__logo {
    position: absolute;
    left: 333px;
    margin: 0;

    &--tablet {
      display: block;
    }

    &--mobile,
    &--desktop {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    position: relative;
    width: 1200px;
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat 0 60px;
  }

  .main-header__logo {
    left: 505px;

    &--desktop {
      display: block;
    }

    &--mobile,
    &--tablet {
      display: none;
    }
  }
}
