.main-nav__button {
  position: absolute;
  border: none;
  background-color: $white;

  &--open {
    top: 20px;
    right: 20px;
  }

  &--close {
    position: absolute;
    display: none;
    right: 20px;
    top: 17px;
    background-image:  url("../img/icon-cross.svg");
  }
}

.main-nav__button .menu-icon {
  fill: $blue;
}

.main-nav__button .icon-cross {
  fill: #ffffff;
}

.main-nav__menu {
  position: relative;
  z-index: 5;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .main-nav {
    background-color: $white;
  }

  .main-nav__menu {
    position: static;
    z-index: 0;
  }

  .main-nav__button {
    display: none;
  }
}
