.menu-list {
  @include list;
}

.menu-list__item {
  @include zero-indent;
  width: 320px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: $center;
  background: $blue;
}

.menu-list__link {
  @include links;
  font-weight: $bold;
  font-size: 18px;
  line-height: 40px;
  color: $white;
}

@media (min-width: 768px) {
  .menu-list {
    display: flex;
    flex-direction: row;
  }

  .menu-list__item {
    margin-right: 50px;
    padding: 0;
    padding-top: 16px;
    width: 120px;
    background: $white;

    &:last-child {
      margin-left: 25px;
    }
  }

  .menu-list__link {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
  }
}

@media (min-width: 1280px) {
  .menu-list__item {
    margin-right: 10px;
    padding: 0;
    padding-top: 16px;
    width: 300px;

    &:last-child {
      margin-left: 25px;
    }
  }

  .menu-list__link {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
  }
}
