@mixin heading-font {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
}

@mixin heading-font-tablet {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
}

@mixin paragraph-font {
  font-size: 14px;
  line-height: 21px;
}
