.page-heading {
  @include heading-font;
  margin: 0;
  margin-bottom: 26px;
  padding-top: 37px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .page-heading {
    font-size: 30px;
    margin: 0;
    margin-bottom: 30px;
    padding-top: 74px;
  }
}

@media (min-width: $desktop-width) {
  .page-heading {
    font-size: 30px;
    margin: 0;
    margin-bottom: 30px;
    padding-top: 113px;
  }
}
