@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
      url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans Bold";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
      url("../fonts/ptsansbold.woff") format("woff");
}


.page-body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.page-body__sprite{
  display: none;
}

@media (min-width: 1280px) {
  .page-body {
    background-color: #f2f2f2;
  }
}
