.page-body {
  margin: 0;
  padding: 0;
  width: $mobile-width;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .page-body {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .page-body {
    width: $desktop-width;
  }
}
