.page-heading {
  @include heading-font;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-top: 40px;
  width: 280px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .page-heading {
    width: 648px;
  }
}

@media (min-width: $desktop-width) {
  .page-heading {
    width: 960px;
  }
}
