.photo-list {
  width: 280px;
  list-style: none;
}

.photo-list__item {
  margin: 0;
  padding: 0;
  padding-top: 23px;
  padding-bottom: 23px;
  width: 280px;
}

.photo-list__photo {
  padding: 0;
  margin: 0;
  width: 280px;
}

.photo-list__picture {
  margin-bottom: 18px;
  width: 280px;
  height: 280px;
}

.photo-list__description {
  margin: 0;
  width: 280px;
  font-size: 14px;
  line-height: 24px;
}

.photo-list__heading {
  margin: 0;
  font-weight: bold;
  color: #333333;
}

.photo-list__author {
  margin: 0;
  text-transform: none;
}

.photo-list__like {
  display: block;
  margin-right: 15px;
}

.photo-list__like-number {
  display: block;
  font-weight: bold;
}

@media (min-width: $tablet-width) {
  .photo-list {
    display: flex;
    flex-wrap: wrap;
    width: 648px;
  }

  .photo-list__item,
  .photo-list__photo {
    padding: 0;
    width: 324px;

    &:first-child {
      width: 648px;
    }
  }

  .photo-list__description {
    display: flex;
    justify-content: space-between;
    padding-right: 24px;
    padding-left: 20px;
    width: 280px;
  }
}

@media (min-width: $desktop-width) {
  .photo-list {
    padding: 0 40px;
    width: 1200px;
  }

  .photo-list__item,
  .photo-list__photo {
    width: 400px;

    &:first-child {
      width: 1200px;
    }
  }

  .photo-list__description {
    margin-top: -70px;
    width: 356px;
    color: $white;
    background-color: #000000;
  }
}
