.popup {
  padding: 20px;
  padding-top: 45px;
  width: 280px;
  text-align: center;
}

.popup-intro {
  margin: 0 auto;
  margin-bottom: 33px;
  width: 280px;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

.popup-content {
  @include paragraph-font;
  margin: 0 auto;
  margin-bottom: 24px;
  width: 280px;
}

@media (min-width: $tablet-width) {
  .popup {
    padding-right: 91px;
    padding-left: 91px;
    width: 458px;
  }
}
