.popup {
  position: fixed;
  top: 25%;
  left: 50%;
  padding: 20px;
  padding-top: 45px;
  width: 280px;
  transform: translateX(-50%);
  text-align: center;
  background-color: $white;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);

  &--nojs {
    display: none;
  }
}

.popup-intro {
  @include heading-font;
  margin: 0 auto;
  margin-bottom: 33px;
  width: 280px;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

.popup-content {
  @include paragraph-font;
  margin: 0 auto;
  margin-bottom: 24px;
  width: 280px;
}

@media (min-width: $tablet-width) {
  .popup {
    padding-right: 91px;
    padding-left: 91px;
    width: 458px;
  }
}
