.socials-list {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.socials-list__item {
  margin: 0;
  margin-right: 7px;
  padding: 10px;
  width: 26px;
  height: 28px;
  text-align: center;
  background-color: $blue;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &:last-child {
    margin-right: 0;
  }

  &--twitter {
    background-image: url("../img/icon-twitter.svg");
  }
  &--facebook {
    background-image: url("../img/icon-facebook.svg");
  }
  &--youtube {
    background-image: url("../img/icon-youtube.svg");
  }
}

@media (min-width: 768px) {
  width: 33%;
}
