.socials-list {
  @include list;
}

.socials-list__item {
  margin: 0;
  padding: 10px;
  width: 26px;
  text-align: $center;
  background: $blue;
}

.socials-list__link {
  @include icon-link;
  background: no-repeat 50% 50%;

  &--twitter {
    background: url("../img/icon-twitter.svg");
  }

  &--facebook {
    background: url("../img/icon-facebook.svg");
  }

  &--youtube {
    background: url("../img/icon-youtube.svg");
  }
}
