.user-review {
  @include zero-indent;
  padding-bottom: 74px;
}

.user-review__fieldset {
  @include zero-indent;
  @include main-padding;
  border: none;
}

.user-review__heading {
  @include zero-indent;
  @include heading-font;
  margin-bottom: 21px;
  text-align: $center;
}

.user-review__item {
  @include zero-indent;

  &:last-child {
    margin-bottom: 28px;
  }
}

.user-review__description {
  @include zero-indent;
  @include paragraph-font;
  display: block;
  margin-right: 15px;
  width: 75px;

  &--name {
    width: 35px;
  }

  &--phone,
  &--email {
    padding-left: 20px;
    width: 260px;
  }
}

.user-review__field {
  @include zero-indent;
  @include heading-font;
  display: block;
  padding: 20px;
  border: none;
  width: 190px;
  background-color: $grey;

  &--name-field {
    width: 230px;
  }

  &--phone-field {
    width: $main-width;
  }

  &--email-field {
    width: $main-width;
  }
}

.user-review__radio,
.user-review__checkbox {
  @include zero-indent;
  display: block;
  margin-right: 25px;
}

.user-review__radio-description,
.user-review__checkbox-description {
  @include zero-indent;
  @include heading-font;
  display: block;
  width: $main-width;
  text-transform: none;
}

.user-review__emotions {
  @include zero-indent;
  @include heading-font;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-left: 20px;
  width: 260px;
  min-height: 160px;
  border: none;
  background-color: $grey;
}

@media (min-width: 768px) {
  .user-review {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 70px;
    padding-right: 40px;
    padding-bottom: 0;
    padding-left: 40px;
    width: 648px;
  }

  .user-review__fieldset {
    padding: 0;
  }

  .user-review__fieldst--user-info {
    width: 324px;
  }

  .user-review__fieldset--user-contacts {
    width: 648px;
  }

  .user-review__fieldset--user-impression {
    order: -1;
    width: 324px;
  }

  .user-review__item--user-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }

  .user-review__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 95px;
    width: 648px;
  }

  .user-review__field--phone-field,
  .user-review__field--email-field {
    width: 648px;
  }

  .user-review__emotions {
    width: 648px;
  }
}

@media (min-width: 1280px) {
  .user-review {
    padding: 0 120px;
    width: 960px;
  }

  .user-review__fieldst--user-info {
    width: 480px;
  }

  .user-review__wrapper--user-contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 960px;
  }

  .user-review__item--user-contacts {
    display: flex;
    flex-direction: row;
    width: 480px;
  }

  .user-review__fieldset--user-impression {
    width: 480px;
  }

  .user-review__fieldset--user-sights div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    width: 960px;
  }

  .user-review__item--user-sights {
    display: flex;
    flex-direction: row;
    width: 240px;
  }

  .user-review__emotions {
    width: 960px;
  }
}
